# Replace with your server URL. If running it on the server itself you could use localhost:8096
SERVER="https://myserver.domain.com" 

# Generate an API Key in Jellyfin --> Dashboard --> API Keys and hit the "+" button
API_KEY="abcdef123456789" 

# Replace with User ID of an administrator
# Jellyfin > Dashboard > Users and choose "Edit User" - the ID will be in the URL as in ".../users/profile?userId=abcdef12345678"
USER_ID="abcdef123456789" 
